@font-face{
  font-family:SZ Sans;
  font-stretch:normal;
  font-style:normal;
  font-weight:700;
  src:url(fonts/SZSans-Bold.otf) format("opentype")
}
body,div,h1,h2,h3,li,html,p,ul{
  font-size:100%;
  font-weight:400;
  margin:0;
  padding:0
}
h3{
  font-family:SZ Sans,Neue Helvetica,Helvetica,sans-serif;
  font-weight:700;
  font-size:1.5em;
  color:#ababab
}
a{
  color:inherit;
  text-decoration:underline
}
a:focus,a:hover{
  text-decoration:none
}
ul{
  list-style-type:none
}
html{
  background-color:#ababab;
  color:#000;
  font-family:georgia,times,serif;
  line-height:1.4;
  text-align:left!important
}
b,strong{
  font-weight:700
}
em,i{
  font-style:italic
}
.o-global-wrapper{
  background-color:#ffffff;
  padding: 20px 80px 0 80px;
  width: 800px;
  margin: 0 auto 50px auto;
  position: relative;
}
.o-hidden{
  display:none
}
.c-article-body__subheadline{
  font-family:SZ Sans,Neue Helvetica,Helvetica,sans-serif;
  font-size:1.5em;
  font-weight:700;
  line-height:1.1;
  margin:.83333em 0
}
.c-article-body p{
  margin:1.25em 0
}
.c-article-header__headline,.c-article-header__kicker{
  display:block
}
.c-article-header__kicker{
  font-weight:400
}
.c-article-header__headline{
  font-family:SZ Sans,Neue Helvetica,Helvetica,sans-serif;
  font-size:150%;
  font-weight:700;
  line-height:1.1;
  margin-top:.13889em
}
.c-article-header__text{
  font-size:120%;
  font-stretch:expanded;
  margin-top:.10417em
}
.c-article-header__author{
  margin:1.25em 0;
  text-transform:uppercase
}
.c-infobox{
  margin:2.22222em 0 2.22222em 1.66667em
}
.c-infobox__title{
  font-size:1.125em;
  margin-bottom:.13889em
}
.c-image-text-module__title,.c-infobox__title{
  font-family:SZ Sans,Neue Helvetica,Helvetica,sans-serif;
  font-weight:700
}
.c-image-text-module__title{
  font-size:1.5em;
  margin-top:.20833em
}
.c-image-text-module__text{
  margin-bottom:1.25em
}
.c-image{
  margin:2.22222em 0
}
.c-image__title{
  font-family:SZ Sans,Neue Helvetica,Helvetica,sans-serif;
  font-size:1.125em;
  font-weight:700
}
.c-image__caption{
  font-size:.875em
}
.c-departments__title{
  font-family:SZ Sans,Neue Helvetica,Helvetica,sans-serif;
  font-size:2em;
  font-weight:700
}
.c-departments__subtitle{
  font-size:1.25em;
  margin-bottom:1.5em
}
.c-departments__item{
  letter-spacing:1px;
  margin:1.25em 0;
  text-transform:uppercase
}
.c-departments__item:last-child,.c-nav{
  margin-bottom:2.5em
}
.c-nav__overview{
  float:left
}
.c-nav__overview--standalone{
  float:none
}
.c-nav__next{
  text-align:right
}
.c-nav__item{
  display: inline-block;
  list-style: outside none none;
  margin-right:20;
}
.c-nav-item__link{
  letter-spacing:2px;
  font-size:17px;
  line-height:40px;
}
.c-pagina{
  font-weight:400;
  letter-spacing:1px;
  margin-bottom:1.875em;
  text-transform:uppercase
}
.c-teaser{
  margin:1.875em 0
}
.c-teaser__headline,.c-teaser__kicker{
  display:block
}
.c-teaser__kicker{
  font-weight:400
}
.c-teaser__headline{
  font-family:SZ Sans,Neue Helvetica,Helvetica,sans-serif;
  font-size:1.375em;
  font-weight:700;
  line-height:1.1;
  margin-bottom:.22727em
}
